body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:rgb(4, 42, 57); 
    padding: 8px;
}
.side{
    color: aliceblue;
    font: bolder;
    margin-left: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}
form {
  display: flex;              
  width: 500px;               
  margin: 20px auto; }      

input[type="text"] {
   flex:1;                
  font-size: 16px;
  border: 2px solid #ccc;
  border-right: none;         
  border-radius: 5px 0 0 5px; 
  outline: none;
}

.search button {
  padding: 10px 20px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-left: none;          
  border-radius: 0 5px 5px 0; 
  cursor: pointer;
}
.right button{
    padding: 5px;
    margin-right: 30px;
    width: 100px;
    margin: 10px;
    gap: 20px;
    background-color:rgb(4, 42, 57); 
    color: aliceblue;
    font-weight: bold;
    font-size: 15px;
    border: 0.5px;
    cursor: pointer;
}
button:hover{
    background: rgb(11, 119, 162); ;
}
.madyalo img{
    width: 100%;
    height: auto;
}
.lang{
    padding: 5px 7px;
    font-size: medium;
    background-color: rgb(4,42,57);
    color: aliceblue;
    font-weight: bolder;
    border: 0.5px solid rgb(4, 42, 57);
    cursor: pointer;
}
.fstyle img{
    width: 100px;
}
.samanlu img{
    width: 100px;
}
.saruku img{
    width: 100px;
}
.categories{
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
}
.categories p{
    margin-left: 5px;
    width: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black

}
.categories img:hover{
    transform: scale(1.1);
}
.categories p:hover{
       color: rgb(238, 106, 106) ;

}
.savaka {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 70px;
    cursor: pointer;
    margin: 0;
    border-bottom: 1px solid black;
    
  }
  


.savaka img:hover{
    transform: scale(1.1);
}
.peru{
    background-color:rgb(199, 211, 215);
    padding: 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 10px 0 10px 0;
}

.beauty h1{
    background-color: rgb(199, 211, 215);
    padding:30px;
}
.last {
    margin: 0;
}
.bommalu{
    display: flex;
    justify-content: space-evenly;
    justify-content: center;
    cursor: pointer;
    gap: 70px;
    margin: 0;
  border-bottom: 1px solid black;
}
.bommalu img:hover{
    transform: scale(1.1);
}

